.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 40px;
    flex-wrap: wrap;
    gap: 30px;
}

.formulario form{
    max-width: 80%;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border: 20px;
    padding:  8px 100px;
    flex: 1;
}
.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}

.colorNEquipo{
    display: inline-block;
    position: relative;
    top: -120px;
    left: 300px;
    width: 17%;
    height: 6%;
}